.container {
    display: grid;
    height: 100vh;
    place-items: center;
    text-align: center;
  }
  .main__content {
    background: #fff;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    position: relative;
  }
  @media (min-width: 500px) {
    .main__content {
      height: 90vh;
      width: 100%;
      max-width: 500px;
    }
  }