.header__homePage {
  align-items: center;
  border-bottom: 3px solid rgb(239, 241, 241);
  background-color: #ffffffaa;
  backdrop-filter: blur(5px);
  height: 49px;
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
}
.header__homePage h2{
    font-size: 21px;
    font-weight: 800;
}
.nav__homePage {
  background: #fff;
  border-bottom: 3px solid rgb(217, 221, 223);
  bottom: 0;
  position: sticky;
  height: 49px;
  width: 100%;
}

.nextwit {
  margin: .5rem;
}