.content {
  display:grid;
  height: 100%;
  place-items: center;
  place-content: center;
}
.content__title {
  color: #0099ff90;
  margin-top: 0;
}
.content__subtitle {
  color: #082c7990;
}
.image{
 margin-top: 10px;
 margin-right: 10px;
 border-radius: 50%;
 width: 49px;
 height:49px;
}
.user__info{
  padding: 1rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}
.user__head {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
